.rightbarMainContainer{
    height: 1600px;
    width: 24%;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 0px;
    margin-right: 12%;
}
.rightbarImgDiv{
    height: 300px;
    width: 100%;
    /* border: 1px solid black; */
}
.rightbarImg{
    height: 300px;
    width: 100%;
}
.rightbarHr{
    margin-top: 30px;
    color: #667190;
}
.rightbarHr-3{
    margin-top: 20px;
    color: #667190; 
}
.rightbar-latestStoriesMainDiv{
    height: 350px;
    width: 100%;
    /* border: 1px solid rgb(255, 4, 171); */
    margin-top: 20px;
}
.rightbar-latestStoriesMainDiv-3{
    height: 350px;
    width: 100%;
    /* border: 1px solid rgb(255, 4, 171); */
    margin-top: -70px;
}
.latestStories{
    font-size: 12px;
    color: #4B587c;
}
.latestStories:hover{
    color: #fc3d08;
}
.rightbar-latestStories-childdiv-1{
    height: 90px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 20px;
    cursor: pointer;
}
.latestStories-descdiv{
    height: 90px;
    width: 70%;
    /* border: 1px solid blue; */
}
.latestStories-photoDiv{
    height: 50px;
    width: 25%;
    /* border: 1px solid rgb(0, 0, 0); */
    margin-left: 5%;
}
.latestStories-desc{
    font-size: 14px;
    font-weight: 600;
    color: #4d4f57;
    line-height: 1.6;
}
.latestStories-time{
    font-size: 12px;
    font-weight: 400;
    color: #7b7f88;
    margin-top: 5px;
}
.latestStories-photo{
    border-radius: 5px;
}
.rightbar-latestStories-childdiv-2{
    margin-top: 15px;
    display: flex;
    /* border: 1px solid black; */
    height: 60px;
    cursor: pointer;
}
.rightbar-footerDiv{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 22px;
}
.rightbar-footer-childdiv{
    height: 18px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    cursor: pointer;
}
.rightbar-footer-childdiv p{
    font-size: 12px;
    color: #4b587C;
}
.rightbar-footer-childdiv-tradmark{
    height: 18px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 8px;
}
.tradmark{
    font-size: 12px;
    color: #4b587C;
}